.error-message {
  position: relative;

  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}

.error-message::before {
  content: "";
  position: absolute;

  top: -150px;
  left: 50%;

  width: 109px;
  height: 122px;

  background-image: url("../../../public/img/muffin-red.svg");
  background-position: center;
  background-repeat: no-repeat;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
